<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    {{ include('headIncludes.html.twig') }}
    {% block head %}

    {% endblock %}
</head>
<body class="hold-transition naved-body">

<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-white">
    <div class="logo">
        <a class="navbar-brand" href="#"><img src="{{ asset('build/images/logo.png') }}" height="60"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse navbar-menu" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if path('carrier_index') == app.request.requestUri %} active {% endif %}" href="{{ path('carrier_index') }}">Przewoźnicy<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link {% if path('search_index') == app.request.requestUri %} active {% endif %}" href="{{ path('search_index') }}">Szukaj<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('carrier_form_new') }}">Generuj link<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Nowy użytkownik<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Flota
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('car_type_index') }}">Typ</a>
                    <a class="dropdown-item" href="{{ path('car_build_index') }}">Zabudowa</a>
                    <a class="dropdown-item" href="{{ path('car_equipment_index') }}">Wyposażenie</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto navbar-right navbar-text">
            <li>{{ app.token.username }} (<a href="{{ path('fos_user_security_logout') }}" class="btn-link">wyloguj</a>)</li>
        </ul>
    </div>
</nav>
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    <div class="container">
        <div class="table-wrapper">
            {% block body %}
                {% block site_content %}

                {% endblock site_content %}
            {% endblock %}
        </div>
    </div>
    {% if path('carrier_index') == app.request.requestUri %}
        <script src="{{ asset('build/js/table-filter.js') }}"></script>
    {% endif %}
    </body>
</html>
