{% extends 'base.html.twig' %}

{% block body %}
    <div class="table-wrapper">
        {{ form_start(form) }}
        <div class="table">
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="form-row">
                <input type="submit" value="Dodaj" class="btn btn-success btn-block btn-flat"/>
            </div>
            <div class="form-row">
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-secondary btn-block btn-flat">Wróć</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}