{% extends 'carrier/customer/base.html.twig' %}
{% block body %}
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <h1>Rejestracja dla {{ carrier.name }}</h1>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="table second-step">
            {{ form_label(form.cars) }}
            <legend class="col-form-legend">Flota</legend>

            <div class="font-weight-light small pb-3">
                Proszę podać jakimi pojazdami Państwo dysponujecie, wybierając kolejno z formularza: <br />
                typ pojazdu, typ zabudowy, wyposażenie dodatkowe, ile euro palet mieści się na podłodze, wymiary przestrzeni
                ładunkowej w [cm].
            </div>

            {% for car in form.cars %}
                <div class="form-row new-car cars-collection">
                    {{ form_widget(car) }}
                </div>
            {% endfor %}
            <div class="form-group cars">
                <div class="form-row car-add"
                     data-prototype="{{ form_widget(form.cars.vars.prototype)|e('html_attr') }}"></div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.add_car_link').click();
        });
    </script>
{% endblock %}
